## OOPS Concept

In [2]:
# Class definition
class Car:
    def __init__(self, make, model):
        self.make = make  # Attribute
        self.model = model  # Attribute

    def start_engine(self):  # Method
        return f"{self.make} {self.model}'s engine started."

# Creating an object
my_car = Car("Toyota", "Corolla")

# Accessing attributes and methods
print(my_car.make)  # Output: Toyota
print(my_car.model)  # Output: Corolla
print(my_car.start_engine())  # Output: Toyota Corolla's engine started.

Toyota
Corolla
Toyota Corolla's engine started.

In [3]:
# Base class (Parent)
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return f"{self.name} makes a sound."

# Derived class (Child)
class Dog(Animal):
    def speak(self):
        return f"{self.name} barks."

# Creating an object of the derived class
my_dog = Dog("Buddy")
print(my_dog.speak())  # Output: Buddy barks.

Buddy barks.

In [6]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
        else:
            return "Insufficient funds."

    def get_balance(self):
        return self.__balance


# Creating an object
account = BankAccount(1000)
account.deposit(500)
account.withdraw(200)
print(account.get_balance())  # Output: 1300

1300

In [7]:
class Bird:
    def fly(self):
        return "Bird is flying."

class Airplane:
    def fly(self):
        return "Airplane is flying."

# Polymorphic behavior
def let_it_fly(flying_object):
    print(flying_object.fly())

bird = Bird()
airplane = Airplane()

let_it_fly(bird)  # Output: Bird is flying.
let_it_fly(airplane)  # Output: Airplane is flying.

Bird is flying.
Airplane is flying.

In [8]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        return "Car engine started."

class Motorcycle(Vehicle):
    def start_engine(self):
        return "Motorcycle engine started." 

# Creating objects
car = Car()
motorcycle = Motorcycle()

print(car.start_engine())  # Output: Car engine started.
print(motorcycle.start_engine())  # Output: Motorcycle engine started.

Car engine started.
Motorcycle engine started.

## Airthmetic Operator

In [9]:
# Assigning values to variables
a = 10
b = 5
# Addition
print('a + b =', a + b)
# Subtraction
print('a - b =', a - b)
# Multiplication
print('a * b =', a * b)
# Division
print('a / b =', a / b)
# Modulus
print('a % b =', a % b)
# Floor Division
print('a // b =', a // b)
# Exponent
print('a ** b =', a ** b)

a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a % b = 0
a // b = 2
a ** b = 100000

## Control and Conditional Structures

## If Statement

In [10]:
# if statement:
grade = 70
if grade >= 65:
    print("Passing grade")

Passing grade

In [11]:
# Example 2: If the number is positive, we print an appropriate message

num = 3
if (num > 0):  # if condition is TRUE: enter the body of if
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:  # if condition is FALSE: do not enter the body of if
    print(num, "is a negative number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

In [12]:
# Example 3: Calculate the square of a number if it greater than 6

number = 9
if number > 6:
    # Calculate square
    print(number * number)
print('Next lines of code')

81
Next lines of code

In [13]:
# Example 4: Check if num1 is less than num2

num1, num2 = 6, 9
if(num1 < num2):
    print("num1 is less than num2")

num1 is less than num2

In [14]:
x = 12
if x > 10:
    print("Hello")

Hello

In [15]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

In [16]:
if 5 == 15/3:
    print ("Horray!")

Horray!

In [17]:
num1, num2 = 5, 6
if(num1 < num2): print("num1 is less than num2")

num1 is less than num2

## if _ else Statement

In [21]:
# if_else Statement

grade = 60
    
if grade >= 65:
    print("Passing grade")
else:
    print("Failing grade")

Failing grade

In [22]:
# Example 2: Program checks if the number is positive or negative and displays an appropriate message

num = 3

# Try these two variations as well. 
# num = -5
# num = 0

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

In [23]:
# Example 3: program to check if a num1 is less than num2

num1, num2 = 6, 5
if (num1 < num2):
    print("num1 is less than num2")
else:
    print("num2 is less than num1")

num2 is less than num1

In [24]:
# Example 4:

def password_check(password):
    if password == "Python@99>":
        print("Correct password")
    else:
        print("Incorrect Password")

password_check("Python@99>")
# Output Correct password

password_check("Python99")
# Output Incorrect Password

Correct password
Incorrect Password

In [25]:
number = 96
if number > 0: print("positive") 
else: print("negative")

positive

In [26]:
x = 12
if 10 < x < 11:
    print("hello")
else:
    print("world")

world

## if_elif_else_statement

In [27]:
# if_elif_else_statement

'''In this program, we check if the number is positive or negative or zero and 
display an appropriate message'''

num = 0

# Try these two variations as well:
# num = 0
# num = -4.5

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [28]:
# Example 2:

num1, num2 = 5, 5
if(num1 > num2):
    print("num1 is greater than num2")
elif(num1 == num2):
    print("num1 is equal to num2")
else:
    print("num1 is less than num2")

num1 is equal to num2

In [29]:
# Example 3:

x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

In [30]:
# Example 4:

grade = 96

if grade >= 90:
    print("A grade")
elif grade >=80:
    print("B grade")
elif grade >=70:
    print("C grade")
elif grade >= 65:
    print("D grade")
else:
    print("Failing grade")

A grade

In [31]:
# Example 5:

def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

user_check(1)  # Admin
user_check(2)  # Editor
user_check(3)  # Guest
user_check(4)  # Wrong entry

Admin
Editor
Guest
Wrong entry

## Nested_if_statemen

In [32]:
# Nested_if_statement

a=10
if a>=20:  # Condition FALSE
    print ("Condition is True")
else:  # Code will go to ELSE body
    if a>=15:  # Condition FALSE
        print ("Checking second value")
    else:  # Code will go to ELSE body
        print ("All Conditions are false")

All Conditions are false

In [33]:
# Example 2:

x = 10
y = 12
if x > y:
    print( "x>y")
elif x < y:
    print( "x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10

In [34]:
# Example 3:

num1 = 0
if (num1 != 0):  # For zero condition is FALSE
    if(num1 > 0):  
        print("num1 is a positive number")
    else:  
        print("num1 is a negative number")
else:  # For zero condition is TRUE
    print("num1 is neither positive nor negative")

num1 is neither positive nor negative

In [35]:
# Example 4:

'''In this program, we input a number check if the number is 
positive or negative or zero and display an appropriate message. 
This time we use nested if statement'''

num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number:  3

Positive number

In [36]:
# Example 5:

def number_arithmetic(num1, num2):
    if num1 >= num2:
        if num1 == num2:
            print(f'{num1} and {num2} are equal')
        else:
            print(f'{num1} is greater than {num2}')
    else:
        print(f'{num1} is smaller than {num2}')

number_arithmetic(96, 66)
# Output 96 is greater than 66
number_arithmetic(96, 96)
# Output 56 and 56 are equal

96 is greater than 66
96 and 96 are equal

## Ternary expresion condotional statement

In [38]:
# Ternary expresion condotional statement 
user_score = 90

if user_score > 50:
    print("Next level")
else:
    print("Repeat level")

Next level

In [41]:
a = 10
b = 20
c = a if a < b else b
print(c)

10

## Loops

## For Loop

In [78]:
# Example 1: for loop
words = ['one', 'two', 'three', 'four', 'five']

for i in words:
    print(i)

one
two
three
four
five

In [79]:
# Example 2: Calculate the average of list of numbers

numbers = [10, 20, 30, 40, 50]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [81]:
# Example 3:

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [82]:
# Example 4:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [83]:
# Example 5:

for i in range (2, 12, 2):  # beginning 2 with distance of 2 and stop before 12
    print (i)

2
4
6
8
10

In [84]:
# Example 6:

num=2

for a in range (1,6):  # range (1,6) means numbers from 1 to 5, i.e., (1,2,3,4,5)
    print (num * a)

2
4
6
8
10

In [49]:
# Example 6: Find Sum of 10 Numbers

sum=0
for n in range(1,11):  # range (1,11) means numbers from 1 to 5, i.e., (1,2,3,4,5,6,7,8,9,10)
    sum+=n  
    print (sum)
    
'''
0+1 = 1
1+2 = 3
3+3 = 6
6+4 = 10
10+5 =15
21
28
36
45
45+10 = 55
'''

1
3
6
10
15
21
28
36
45
55

'\n0+1 = 1\n1+2 = 3\n3+3 = 6\n6+4 = 10\n10+5 =15\n21\n28\n36\n45\n45+10 = 55\n'

In [85]:
# Example 7: Print all even and odd numbers

for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

## While Loop

In [51]:
# While Loop

# Example 1: Print numbers less than 5
count = 1
# run loop till count is less than 5
while count < 5:
    print(count)
    count = count + 1

1
2
3
4

In [52]:
# Example 2:

num = 10
sum = 0
i = 1
while i <= num:
    sum = sum + i
    i = i + 1
print("Sum of first 10 number is:", sum)

Sum of first 10 number is: 55

In [53]:
# Example 3:

a=10        # 'a' is my variable

while a>0:  # Enter the body of while loop because condition is TRUE
    print (("Value of a is"),a)
    a=a-2
print ("Loop is Completed")

Value of a is 10
Value of a is 8
Value of a is 6
Value of a is 4
Value of a is 2
Loop is Completed

In [54]:
# Example 4:

n=153
sum=0

while n>0:
    r=n%10   # r is the remainder of the division
    sum+=r   # sum+=r is equal to sum = sum+r
    n=n/10
print (sum)

9.999999999999998

In [55]:
# Example 5: How many times a given number can be divided by 3 before it is less than or equal to 10.

count = 0
number = 180
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Total iteration required 3

In [66]:
# Example 6: Program to add natural numbers up to sum = 1+2+3+...+n

# To take input from the user, 
# n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter, i.e., the value of i will change from 1 to 2 in next iteration...

# print the sum
print("The sum is", sum)

The sum is 55

In [67]:
# Example 7: simple fibonacci series
# the sum of two elements defines the next set

a, b = 0, 1
while b < 1000:
    print(b, end = ' ', flush = True)
    a, b = b, a + b

print() # line ending

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

Please Enter Number  2

2 is a even number
1 is a odd number

In [68]:
# Example 8: Add all even numbers from 1 to 10 using while loop
# 2+4+6+8+10

# n = int(input("Please enter the maximum value: "))
n = 10

sum = 0
i = 1

while i <= n:
    if(i%2==0):
        sum = sum + i
#        sum += i
    i = i+1
    
# print the sum
print("The sum is", sum)

The sum is 30

In [60]:
# Example 4: Write a code to add all the prime numbers between 17 to 53 using while loop
# 17, 19, 23, 29, 31, 37, 41, 43, 47, 53

'''Method 1'''

sum=0
for i in range(17,54):
    k=2
    if i>=2:
        while i % k!=0:
            k+=1
        if i==k:
            sum += i
            print(i)
print("The total sum is",sum)

17
19
23
29
31
37
41
43
47
53
The total sum is 340

In [69]:
# Example 9:

list = [60, "HelloWorld", 90.45, 50, 67.23, "Python"]  # total 6 elements
i = 0
while(i < 6):
    print(list[i])
    i = i + 1
    if(i == 3):
        break

60
HelloWorld
90.45

In [71]:
# Exampl 10 : Write a while loop to display only alphabets from a string.

name = 'Alan99White'

size = len(name)
i = -1
# iterate loop till the last character
while i < size - 1:
    i = i + 1
    # skip while loop body if current character is not alphabet
    if not name[i].isalpha():
        continue
    # print current character
    print(name[i], end=' ')

A l a n W h i t e

## User input

In [1]:
#Example 1
a=input("My name is :")
print("my name is ", a)
x=input("inter firat number:")
y=input("inter second number:")
print(x+y)
print(int(x)+int(y))

My name is : anuj

my name is  anuj

inter firat number: 85
inter second number: 5

855
90

In [6]:
#Example 2
username = input("Enter username:")
print("Username is: " + username)

Enter username: shyam

Username is: shyam

## String

In [3]:
name = "shyam"
friend = "Rohan"
anotherFriend = 'Lovish'
apple = '''He said, 
Hi shyam
hey I am good
"I want to eat an apple'''
 
print("Hello, " + name)
# print(apple) 
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
# print(name[5]) # Throws an error
print("Lets use a for loop\n")
for character in apple:
    print(character)

Hello, shyam
s
h
y
a
m
Lets use a for loop

H
e

s
a
i
d
,



H
i

s
h
y
a
m


h
e
y

I

a
m

g
o
o
d


"
I

w
a
n
t

t
o

e
a
t

a
n

a
p
p
l
e

## Integers

In [4]:
# Define integers
a = 10
b = 5

# Perform arithmetic operations
sum_result = a + b       # Addition
diff_result = a - b      # Subtraction
product_result = a * b   # Multiplication
division_result = a // b # Integer division

print("Sum:", sum_result)
print("Difference:", diff_result)
print("Product:", product_result)
print("Division:", division_result)

Sum: 15
Difference: 5
Product: 50
Division: 2

In [5]:
# Define the dimensions of the rectangle
length = 12
width = 8

# Calculate the area of the rectangle
area = length * width

# Calculate the perimeter of the rectangle
perimeter = 2 * (length + width)

print("Length of the rectangle:", length)
print("Width of the rectangle:", width)
print("Area of the rectangle:", area)
print("Perimeter of the rectangle:", perimeter)

Length of the rectangle: 12
Width of the rectangle: 8
Area of the rectangle: 96
Perimeter of the rectangle: 40

## Float

In [7]:
# Define float values
x = 5.75
y = 2.5

# Perform arithmetic operations
sum_result = x + y        # Addition
diff_result = x - y       # Subtraction
product_result = x * y    # Multiplication
division_result = x / y   # Division

print("Sum:", sum_result)
print("Difference:", diff_result)
print("Product:", product_result)
print("Division:", division_result)

Sum: 8.25
Difference: 3.25
Product: 14.375
Division: 2.3

In [8]:
# Define a list of float values
numbers = [4.5, 3.7, 8.2, 6.4, 2.1]

# Calculate the sum of the numbers
total_sum = sum(numbers)

# Calculate the average
average = total_sum / len(numbers)

print("Numbers:", numbers)
print("Total Sum:", total_sum)
print("Average:", average)

Numbers: [4.5, 3.7, 8.2, 6.4, 2.1]
Total Sum: 24.9
Average: 4.9799999999999995

## Typecasting

In [9]:
a = "1"
# a = 1
b = "2"
# b = 2
print(int(a) + int(b))

# Implicit TypeCasting
c = 1.9
d = 8

print(c + d)

3
9.9

In [10]:
x = 5       # Integer
y = 2.5     # Float

result = x + y  # Implicitly converts x to a float

print(result)   # Output: 7.5

7.5

In [11]:
# Define a float value
my_float = 7.9

# Explicitly convert float to integer
my_integer = int(my_float)

print("Original float value:", my_float)
print("Converted integer value:", my_integer)

Original float value: 7.9
Converted integer value: 7